html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body,#root{
  height: 100vh;
  margin: 0;
  text-decoration: none;
}

body,a,input,select,textarea{
  font-size: 1.6rem;
  font-family: 'Times New Roman', Times, serif;
}

.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}

a:hover{
  color: red;
}

header a{
  color: #fff;
  text-decoration: none;
}

header{
  grid-area: header;
  background-color: #333;
  display: flex;
  align-items: center;
  padding: .5rem;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
}